/* google font["Montserrat"] */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

#map {
  height: 450px;
  width: 800px;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(255, 255, 255, 0.5)),url("./images/bg-image.jpg");
  min-height: 740px;
}